@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.CategoriesMain {
  width: 100%;
  height: 1280px;
  background-color: #fff4bb;
  text-align: center;
}

.CategoriesInner {
  margin: 0 auto;
  width: 1080px;
  height: 1280px;
  padding: 100px 80px;
}

/* reset */

.TopRanking {
  height: 600px;
}

.RankingBox {
  padding-top: 70px;
}

.RankingBox img {
  width: 200px;
  height: 250px;
  border: 10px solid white;
  background-color: white;
  border-radius: 20px;
  margin: 0px 10px;
}

.AgeCategory {
  height: 480px;
}

.AgeCategoryBox {
  padding-top: 70px;
}

.AgeCategoryBox img {
  width: 160px;
  height: 160px;
  border: 10px solid white;
  background-color: white;
  border-radius: 20px;
  margin: 0px 10px;
}

.AgeBox span {
  font-family: "KCC-Ganpan";
  font-size: 18px;
  position: relative;
  display: inline-block;
  width: 160px;
  top: 30px;
  right: -12px;
  margin-right: 20px;
  border: 10px solid white;
  background-color: white;
  border-radius: 20px;
}
