.EventsMain {
  width: 100%;
  height: 750px;
  background-color: #fff4bb;
  text-align: center;
}

.EventsInner {
  margin: 0 auto;
  width: 1080px;
  height: 750px;
  padding: 100px 80px;
}

.EventIcon img {
  width: 160px;
  height: 160px;
  border: 10px solid white;
  border-radius: 20px;
  padding: 5px;
  margin: 100px 28px 30px 28px;
}

.EventIcon img:hover {
  transform: scale(1.1);
}

.EventInt span {
  position: relative;
  display: inline-block;
  width: 200px;
  top: 30px;
  right: -12px;
  margin-right: 20px;
  border: 10px solid white;
  background-color: white;
  border-radius: 20px;
}
