.IntroduceMain {
  width: 100%;
  height: 1700px;
  background-color: #fff8d2;
}

.IntroduceInner {
  margin: 0 auto;
  width: 1080px;
  height: 1700px;
  padding: 130px 45px;
}

/* .privileges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introIcon {
  width: 500px;
  height: 650px;
  display: inline-block;
}

.introBox {
  display: inline-block;
  width: 230px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
} */

.introText {
  text-align: center;
  padding: 0px 20px 70px 20px;
}

.introMsg {
  padding-top: 10px;
  height: 400px;
}

.intImag {
  border: 10px solid white;
  border-radius: 20px;
  width: 650px;
  height: 400px;
}

.intText {
  display: inline-block;
  width: 340px;
  height: 340px;
}
