.PartnersMain {
  width: 100%;
  height: 250px;
  background-color: #fff8d2;
}

.PartnersInner {
  margin: 0 auto;
  width: 1080px;
  padding: 73px 53px;
  text-align: center;
}

.PartnersImg img {
  padding: 0px 30px;
}

/* reset */
