.ProductDetailMain {
  width: 100%;
  height: 2960px;
  background-color: pink;
  display: inline-flex;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ProductDetailInner {
  width: 1080px;
  height: 2960px;
  margin: 0 auto;
  padding: 80px 50px;
}

/* reset */

.ProducTop {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ProducTop img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
}

.ProducTopInt {
  padding: 30px 0px;
}

.ProducTop h2 {
  margin-bottom: 40px;
}

.ProducTop span {
  display: block;
  margin-bottom: 15px;
}

.ProducTop button {
  display: block;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  /* margin: 0 auto; */
  margin-bottom: 15px;
}

/* ProductTop */

.ProductMiddle {
  /* background-color: antiquewhite; */
  height: 1680px;
  padding: 100px;
}

.ProductMiddle img {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
}

.ProductDescription {
  padding-bottom: 50px;
}

.ProductDescription span {
  line-height: 2;
}

/*/ProductMiddle*/

.ProductBottom {
  /* background-color: aliceblue; */
  height: 800px;
  /* padding: 50px; */
  text-align: center;
}

.ProductBottom h4 {
  padding-bottom: 30px;
}

.ProductGuid {
  padding-bottom: 70px;
}

table {
  border: 1px solid white;
}

.td1 {
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: white;
}

.td2 {
  text-align: left;
  height: 30px;
}

/* ProductBottom */
