.ProductDetailMain {
  width: 100%;
  height: 900px;
  background-color: pink;
  display: inline-flex;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ProductDetailInner {
  width: 1080px;
  height: 900px;
  margin: 0 auto;
  padding: 80px 50px;
}

/* reset */

.ProductImg {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
}
